UWSaralServices/Service References/LAJournalService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MasterJournal">
    <xs:sequence>
      <xs:element minOccurs="0" name="ERRORCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALUES" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterJournal" nillable="true" type="tns:MasterJournal" />
  <xs:complexType name="MasterJournalCreate">
    <xs:sequence>
      <xs:element minOccurs="0" name="DOCUMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERRORCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALUES" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterJournalCreate" nillable="true" type="tns:MasterJournalCreate" />
  <xs:complexType name="ArrayOfMasterJournalEnquiry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MasterJournalEnquiry" nillable="true" type="tns:MasterJournalEnquiry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMasterJournalEnquiry" nillable="true" type="tns:ArrayOfMasterJournalEnquiry" />
  <xs:complexType name="MasterJournalEnquiry">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACCTCCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTHDATEX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUTHDETS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BANKCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CASHNM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHDRTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRTDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOCACCTAMT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOCORIGAMT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOCUMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENTITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERRORCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORIGCCY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRODDESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGISTER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFNUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SACSCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SACSTYPW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCRATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SRCDESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SRCEBUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRANDESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALUES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZRSNDESC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterJournalEnquiry" nillable="true" type="tns:MasterJournalEnquiry" />
</xs:schema>