UWSaralServices/Service References/LAServiceTiffConversion/TiffConverterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTiffBytes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strFileExtension" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="arrFileBytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTiffBytesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTiffBytesResult" type="tns:ResponseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileData" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTiffBytesSoapIn">
    <wsdl:part name="parameters" element="tns:GetTiffBytes" />
  </wsdl:message>
  <wsdl:message name="GetTiffBytesSoapOut">
    <wsdl:part name="parameters" element="tns:GetTiffBytesResponse" />
  </wsdl:message>
  <wsdl:portType name="TiffConverterServiceSoap">
    <wsdl:operation name="GetTiffBytes">
      <wsdl:input message="tns:GetTiffBytesSoapIn" />
      <wsdl:output message="tns:GetTiffBytesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TiffConverterServiceSoap" type="tns:TiffConverterServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTiffBytes">
      <soap:operation soapAction="http://tempuri.org/GetTiffBytes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TiffConverterServiceSoap12" type="tns:TiffConverterServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTiffBytes">
      <soap12:operation soapAction="http://tempuri.org/GetTiffBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TiffConverterService">
    <wsdl:port name="TiffConverterServiceSoap" binding="tns:TiffConverterServiceSoap">
      <soap:address location="http://10.9.41.251:9081/TiffConverterService.asmx" />
    </wsdl:port>
    <wsdl:port name="TiffConverterServiceSoap12" binding="tns:TiffConverterServiceSoap12">
      <soap12:address location="http://10.9.41.251:9081/TiffConverterService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>