UWSaralServices/Service References/CIBILSCORE/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CBILScoreService.DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CBILScoreService.DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsScoreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CIBILScore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncomeEstimator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccsess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetrieveDocDownloadFileData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="RetrieveDocDownloadRequest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetrieveDocDownloadResponse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetrieveDocRequest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetrieveDocResponse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScoreCardVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScoreDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScoreName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolutionSetInstanceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRLScore" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsScoreResponse" nillable="true" type="tns:clsScoreResponse" />
</xs:schema>