UWSaralServices/Service References/LACombi_DetachService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.8.41.196:10004/WSLACombiBOs/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.8.41.196:10004/WSLACombiBOs/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.8.41.196:10004/WSLACombiBOs/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS.LACombiBOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CADATT_InputMessage">
    <wsdl:part name="parameters" element="tns:CADATT" />
  </wsdl:message>
  <wsdl:message name="IService_CADATT_OutputMessage">
    <wsdl:part name="parameters" element="tns:CADATTResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CADDET_InputMessage">
    <wsdl:part name="parameters" element="tns:CADDET" />
  </wsdl:message>
  <wsdl:message name="IService_CADDET_OutputMessage">
    <wsdl:part name="parameters" element="tns:CADDETResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CADENQ_InputMessage">
    <wsdl:part name="parameters" element="tns:CADENQ" />
  </wsdl:message>
  <wsdl:message name="IService_CADENQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:CADENQResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CECENQ_InputMessage">
    <wsdl:part name="parameters" element="tns:CECENQ" />
  </wsdl:message>
  <wsdl:message name="IService_CECENQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:CECENQResponse" />
  </wsdl:message>
  <wsdl:message name="IService_COBISS_InputMessage">
    <wsdl:part name="parameters" element="tns:COBISS" />
  </wsdl:message>
  <wsdl:message name="IService_COBISS_OutputMessage">
    <wsdl:part name="parameters" element="tns:COBISSResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CPVVAL_InputMessage">
    <wsdl:part name="parameters" element="tns:CPVVAL" />
  </wsdl:message>
  <wsdl:message name="IService_CPVVAL_OutputMessage">
    <wsdl:part name="parameters" element="tns:CPVVALResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CADATT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CADATT" message="tns:IService_CADATT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CADATTResponse" message="tns:IService_CADATT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CADDET">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CADDET" message="tns:IService_CADDET_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CADDETResponse" message="tns:IService_CADDET_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CADENQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CADENQ" message="tns:IService_CADENQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CADENQResponse" message="tns:IService_CADENQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CECENQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CECENQ" message="tns:IService_CECENQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CECENQResponse" message="tns:IService_CECENQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="COBISS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/COBISS" message="tns:IService_COBISS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/COBISSResponse" message="tns:IService_COBISS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CPVVAL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CPVVAL" message="tns:IService_CPVVAL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CPVVALResponse" message="tns:IService_CPVVAL_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CADATT">
      <soap:operation soapAction="http://tempuri.org/IService/CADATT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CADDET">
      <soap:operation soapAction="http://tempuri.org/IService/CADDET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CADENQ">
      <soap:operation soapAction="http://tempuri.org/IService/CADENQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CECENQ">
      <soap:operation soapAction="http://tempuri.org/IService/CECENQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="COBISS">
      <soap:operation soapAction="http://tempuri.org/IService/COBISS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CPVVAL">
      <soap:operation soapAction="http://tempuri.org/IService/CPVVAL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://10.8.41.196:10004/WSLACombiBOs/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>