UWSaralServices/Service References/LACombi_DetachService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.8.41.196:10004/WSLACombiBOs/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS.LACombiBOs" />
  <xs:element name="CADATT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Zcmbno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Zcmtyp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CarrierCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserRole" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartnerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CADATTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS.LACombiBOs" minOccurs="0" name="CADATTResult" nillable="true" type="q1:MasterCADATT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CADDET">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Zcmbno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Combiflg01" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Combiflg02" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Combiflg03" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Combiflg04" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Combiflg05" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Combiflg06" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Combiflg07" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Combiflg08" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Combiflg09" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Combiflg10" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Combiflg11" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cresncd01" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cresncd02" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cresncd03" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cresncd04" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cresncd05" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cresncd06" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cresncd07" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cresncd08" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cresncd09" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cresncd10" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cresncd11" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CarrierCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserRole" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartnerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CADDETResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS.LACombiBOs" minOccurs="0" name="CADDETResult" nillable="true" type="q2:MasterCADDET" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CADENQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Zcmbno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CarrierCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserRole" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartnerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CADENQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WS.LACombiBOs" minOccurs="0" name="CADENQResult" nillable="true" type="q3:MasterCADENQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CECENQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Chdrsel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Effdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Zcmbno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CarrierCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserRole" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartnerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CECENQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WS.LACombiBOs" minOccurs="0" name="CECENQResult" nillable="true" type="q4:ArrayOfMasterCECENQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COBISS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Zcmbno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CarrierCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserRole" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartnerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COBISSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WS.LACombiBOs" minOccurs="0" name="COBISSResult" nillable="true" type="q5:MasterCOBISS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CPVVAL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Zcmbno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CarrierCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserRole" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartnerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CPVVALResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WS.LACombiBOs" minOccurs="0" name="CPVVALResult" nillable="true" type="q6:MasterCPVVAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>