UWSaralServices/Service References/LABankEnquiry/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.1.41.196:10004/FG.LF.WS.Client_BankAccountEnquiry/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.1.41.196:10004/FG.LF.WS.Client_BankAccountEnquiry/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.1.41.196:10004/FG.LF.WS.Client_BankAccountEnquiry/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_CLIUPC_InputMessage">
    <wsdl:part name="parameters" element="tns:CLIUPC" />
  </wsdl:message>
  <wsdl:message name="IService_CLIUPC_OutputMessage">
    <wsdl:part name="parameters" element="tns:CLIUPCResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CLIUPP_InputMessage">
    <wsdl:part name="parameters" element="tns:CLIUPP" />
  </wsdl:message>
  <wsdl:message name="IService_CLIUPP_OutputMessage">
    <wsdl:part name="parameters" element="tns:CLIUPPResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CBACRT_InputMessage">
    <wsdl:part name="parameters" element="tns:CBACRT" />
  </wsdl:message>
  <wsdl:message name="IService_CBACRT_OutputMessage">
    <wsdl:part name="parameters" element="tns:CBACRTResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CBAENQ_InputMessage">
    <wsdl:part name="parameters" element="tns:CBAENQ" />
  </wsdl:message>
  <wsdl:message name="IService_CBAENQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:CBAENQResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CBAUPD_InputMessage">
    <wsdl:part name="parameters" element="tns:CBAUPD" />
  </wsdl:message>
  <wsdl:message name="IService_CBAUPD_OutputMessage">
    <wsdl:part name="parameters" element="tns:CBAUPDResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="CLIUPC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CLIUPC" message="tns:IService_CLIUPC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CLIUPCResponse" message="tns:IService_CLIUPC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CLIUPP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CLIUPP" message="tns:IService_CLIUPP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CLIUPPResponse" message="tns:IService_CLIUPP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CBACRT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CBACRT" message="tns:IService_CBACRT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CBACRTResponse" message="tns:IService_CBACRT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CBAENQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CBAENQ" message="tns:IService_CBAENQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CBAENQResponse" message="tns:IService_CBAENQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CBAUPD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CBAUPD" message="tns:IService_CBAUPD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CBAUPDResponse" message="tns:IService_CBAUPD_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CLIUPC">
      <soap:operation soapAction="http://tempuri.org/IService/CLIUPC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CLIUPP">
      <soap:operation soapAction="http://tempuri.org/IService/CLIUPP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CBACRT">
      <soap:operation soapAction="http://tempuri.org/IService/CBACRT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CBAENQ">
      <soap:operation soapAction="http://tempuri.org/IService/CBAENQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CBAUPD">
      <soap:operation soapAction="http://tempuri.org/IService/CBAUPD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://10.1.41.196:10004/FG.LF.WS.Client_BankAccountEnquiry/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>