UWSaralServices/Service References/LAClientCreationService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MasterCreate">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLNTNUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERRORCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALUES" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterCreate" nillable="true" type="tns:MasterCreate" />
</xs:schema>