UWSaralServices/Service References/LAFollowupService/Service31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_FollowUp/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="FLPCRTI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHDRSEL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ZDOCTOR" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE6" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE7" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE8" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE9" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE10" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE11" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE12" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE13" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE14" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE15" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE16" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE17" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE18" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE19" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE20" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE21" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE22" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE23" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE24" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE25" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE26" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE27" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE28" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE29" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE30" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE31" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE32" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE33" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE34" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE35" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE36" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE37" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE38" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE39" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE40" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE41" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE42" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE43" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE44" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE45" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE46" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE47" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE48" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE49" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPCDE50" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT6" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT7" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT8" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT9" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT10" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT11" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT12" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT13" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT14" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT15" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT16" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT17" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT18" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT19" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT20" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT21" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT22" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT23" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT24" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT25" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT26" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT27" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT28" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT29" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT30" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT31" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT32" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT33" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT34" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT35" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT36" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT37" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT38" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT39" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT40" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT41" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT42" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT43" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT44" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT45" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT46" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT47" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT48" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT49" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPDT50" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK6" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK7" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK8" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK9" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK10" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK11" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK12" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK13" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK14" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK15" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK16" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK17" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK18" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK19" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK20" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK21" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK22" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK23" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK24" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK25" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK26" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK27" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK28" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK29" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK30" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK31" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK32" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK33" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK34" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK35" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK36" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK37" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK38" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK39" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK40" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK41" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK42" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK43" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK44" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK45" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK46" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK47" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK48" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK49" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPRMK50" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS6" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS7" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS8" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS9" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS10" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS11" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS12" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS13" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS14" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS15" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS16" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS17" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS18" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS19" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS20" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS21" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS22" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS23" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS24" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS25" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS26" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS27" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS28" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS29" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS30" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS31" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS32" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS33" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS34" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS35" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS36" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS37" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS38" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS39" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS40" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS41" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS42" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS43" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS44" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS45" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS46" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS47" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS48" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS49" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FUPSTS50" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE6" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE7" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE8" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE9" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE10" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE11" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE12" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE13" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE14" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE15" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE16" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE17" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE18" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE19" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE20" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE21" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE22" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE23" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE24" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE25" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE26" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE27" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE28" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE29" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE30" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE31" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE32" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE33" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE34" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE35" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE36" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE37" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE38" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE39" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE40" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE41" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE42" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE43" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE44" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE45" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE46" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE47" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE48" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE49" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JLIFE50" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO6" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO7" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO8" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO9" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO10" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO11" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO12" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO13" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO14" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO15" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO16" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO17" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO18" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO19" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO20" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO21" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO22" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO23" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO24" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO25" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO26" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO27" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO28" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO29" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO30" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO31" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO32" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO33" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO34" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO35" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO36" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO37" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO38" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO39" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO40" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO41" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO42" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO43" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO44" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO45" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO46" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO47" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO48" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO49" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LIFENO50" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Branch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserRole" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartnerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FLPCRTIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FLPCRTIResult" nillable="true" type="q1:Master" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>