UWSaralServices/Service References/LAPreIssueValService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMasterPolicyPreIssue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MasterPolicyPreIssue" nillable="true" type="tns:MasterPolicyPreIssue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMasterPolicyPreIssue" nillable="true" type="tns:ArrayOfMasterPolicyPreIssue" />
  <xs:complexType name="MasterPolicyPreIssue">
    <xs:sequence>
      <xs:element minOccurs="0" name="CNTFEE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRTABLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDUCAMT01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERORDSC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERRORCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTPRM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PREMSUSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRMDEPST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STAXAMT01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALUES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZBCKDINT01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZTAMTDUE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterPolicyPreIssue" nillable="true" type="tns:MasterPolicyPreIssue" />
  <xs:complexType name="ArrayOfMasterPolicyIssuance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MasterPolicyIssuance" nillable="true" type="tns:MasterPolicyIssuance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMasterPolicyIssuance" nillable="true" type="tns:ArrayOfMasterPolicyIssuance" />
  <xs:complexType name="MasterPolicyIssuance">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGENTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BILLFREQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNTFEE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRTABLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDUCAMT01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERORDSC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERRORCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTPRM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OCCDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PREMSUSP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRMDEPST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STAXAMT01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALUES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZBCKDINT01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZTAMTDUE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterPolicyIssuance" nillable="true" type="tns:MasterPolicyIssuance" />
</xs:schema>