UWSaralSchedulerTPA/Service References/DMSDownload/DMSDocumentDownloadServiceMain.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DMSDocumentDownloadServiceMain" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.8.41.39/DMSDocumentDownload/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.8.41.39/DMSDocumentDownload/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DMSDocumentDownloadService_getDocfromDocList_InputMessage">
    <wsdl:part name="parameters" element="tns:getDocfromDocList" />
  </wsdl:message>
  <wsdl:message name="DMSDocumentDownloadService_getDocfromDocList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDocfromDocListResponse" />
  </wsdl:message>
  <wsdl:message name="DMSDocumentDownloadService_getLatestDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:getLatestDoc" />
  </wsdl:message>
  <wsdl:message name="DMSDocumentDownloadService_getLatestDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLatestDocResponse" />
  </wsdl:message>
  <wsdl:portType name="DMSDocumentDownloadService">
    <wsdl:operation name="getDocfromDocList">
      <wsdl:input wsaw:Action="http://tempuri.org/DMSDocumentDownloadService/getDocfromDocList" message="tns:DMSDocumentDownloadService_getDocfromDocList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMSDocumentDownloadService/getDocfromDocListResponse" message="tns:DMSDocumentDownloadService_getDocfromDocList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLatestDoc">
      <wsdl:input wsaw:Action="http://tempuri.org/DMSDocumentDownloadService/getLatestDoc" message="tns:DMSDocumentDownloadService_getLatestDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DMSDocumentDownloadService/getLatestDocResponse" message="tns:DMSDocumentDownloadService_getLatestDoc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_DMSDocumentDownloadService" type="tns:DMSDocumentDownloadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDocfromDocList">
      <soap:operation soapAction="http://tempuri.org/DMSDocumentDownloadService/getDocfromDocList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestDoc">
      <soap:operation soapAction="http://tempuri.org/DMSDocumentDownloadService/getLatestDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DMSDocumentDownloadServiceMain">
    <wsdl:port name="BasicHttpBinding_DMSDocumentDownloadService" binding="tns:BasicHttpBinding_DMSDocumentDownloadService">
      <soap:address location="http://10.8.41.39/DMSDocumentDownload/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>