UWSaralSchedulerTPA/Service References/DMSDownload/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getDocfromDocList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filepath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocfromDocListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDocfromDocListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLatestDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filepath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLatestDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLatestDocResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>