UWPortfolio/App_WebReferences/WCFGenerateInputOutput/WCFGenerateInputOutput4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.41.196/AS400_Reinstatment/WCFGenerateInputOutput.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AS400EntityLayer" />
  <xs:element name="MPENQI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objMPEnqInput" nillable="true" type="q1:MaturityPayoutENQInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPENQIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MPENQIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPENQO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objMPEnqOutput" nillable="true" type="q2:MaturityPayoutENQOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPENQOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MPENQOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPPreMaturityENQI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objMPPreMaturityEnqInput" nillable="true" type="q3:MaturityPayoutENQInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPPreMaturityENQIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MPPreMaturityENQIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPPreMaturityENQO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objMPPreMaturityEnqOutput" nillable="true" type="q4:MaturityPayoutENQOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPPreMaturityENQOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MPPreMaturityENQOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPPreVestingENQI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objMPPreVestingEnqInput" nillable="true" type="q5:MaturityPayoutENQInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPPreVestingENQIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MPPreVestingENQIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPPreVestingENQO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objMPPreVestingEnqOutput" nillable="true" type="q6:MaturityPayoutENQOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPPreVestingENQOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MPPreVestingENQOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPStatusREGI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objMPMaturityPayoutREGInput" nillable="true" type="q7:MaturityPayoutREGInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPStatusREGIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MPStatusREGIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPStatusREGO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objMaturityPayoutREGOutput" nillable="true" type="q8:MaturityPayoutREGOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPStatusREGOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MPStatusREGOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPStatusAPRI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objMPMaturityPayoutAPRInput" nillable="true" type="q9:MaturityPayoutAPRInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPStatusAPRIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MPStatusAPRIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPStatusAPRO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objMaturityPayoutAPROutput" nillable="true" type="q10:MaturityPayoutAPROutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPStatusAPROResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MPStatusAPROResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACENQI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objACEnqInput" nillable="true" type="q11:AnnuityCoeENQInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACENQIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ACENQIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACENQO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objACEnqOutput" nillable="true" type="q12:AnnuityCoeENQOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACENQOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ACENQOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACUPDI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objACUpdInput" nillable="true" type="q13:AnnuityCoeUPDInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACUPDIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ACUPDIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACUPDO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objACUpdOutput" nillable="true" type="q14:AnnuityCoeUPDOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACUPDOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ACUPDOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENQANNI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objACPolEnqInput" nillable="true" type="q15:AnnuityCoeENQInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENQANNIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENQANNIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENQANNO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objACPolEnqOutput" nillable="true" type="q16:AnnuityCoeENQOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENQANNOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENQANNOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SURENQI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objSurEnqInput" nillable="true" type="q17:SurrenderENQInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SURENQIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SURENQIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SURENQO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objSurEnqOutput" nillable="true" type="q18:SurrenderENQOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SURENQOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SURENQOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SURREGI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objSurRegInput" nillable="true" type="q19:SurrenderREGInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SURREGIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SURREGIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SURREGO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objSurRegOutput" nillable="true" type="q20:SurrenderREGOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SURREGOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SURREGOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SURAPRI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objSurAprInput" nillable="true" type="q21:SurrenderAPRInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SURAPRIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SURAPRIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SURAPRO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objSurAprOutput" nillable="true" type="q22:SurrenderAPROutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SURAPROResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SURAPROResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVSURI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objSurRevInput" nillable="true" type="q23:FullSurrenderREVInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVSURIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="REVSURIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVSURO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objFullSurrenderREVOutput" nillable="true" type="q24:FullSurrenderREVOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVSUROResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="REVSUROResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVFCRI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objSurrenderApprovalREVInput" nillable="true" type="q25:SurrenderApprovalREVInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVFCRIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="REVFCRIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVFCRO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objSurrenderApprovalREVOutput" nillable="true" type="q26:SurrenderApprovalREVOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVFCROResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="REVFCROResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESRCRTI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objEarlySurrenderCRTInput" nillable="true" type="q27:EarlySurrenderCRTInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESRCRTIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ESRCRTIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESRCRTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objEarlySurrenderCRTOutput" nillable="true" type="q28:EarlySurrenderCRTOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESRCRTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ESRCRTOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESRAPRI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objEarlySurrenderApprovalInput" nillable="true" type="q29:EarlySurrenderApprovalInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESRAPRIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ESRAPRIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESRAPRO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objEarlySurrenderApprovalOutput" nillable="true" type="q30:EarlySurrenderApprovalOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESRAPROResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ESRAPROResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESRREVI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objEarlySurrenderReversalInput" nillable="true" type="q31:EarlySurrenderReversalInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESRREVIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ESRREVIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESRREVO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objEarlySurrenderReversalOutput" nillable="true" type="q32:EarlySurrenderReversalOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESRREVOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ESRREVOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTCRTI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPayeeCodeCRTInput" nillable="true" type="q33:PayeeCodeCRTInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTCRTIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PYTCRTIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTCRTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPayeeCodeCRTOutput" nillable="true" type="q34:PayeeCodeCRTOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTCRTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PYTCRTOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTAPRI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPayeeCodeAPRInput" nillable="true" type="q35:PayeeCodeAPRInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTAPRIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PYTAPRIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTAPRO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPayeeCodeAPROutput" nillable="true" type="q36:PayeeCodeAPROutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTAPROResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PYTAPROResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTREVI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPayeeCodeREVInput" nillable="true" type="q37:PayeeCodeREVInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTREVIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PYTREVIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTREVO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPayeeCodeREVOutput" nillable="true" type="q38:PayeeCodeREVOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTREVOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PYTREVOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTAUTI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPayeeCodeAUTInput" nillable="true" type="q39:PayeeCodeAUTInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTAUTIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PYTAUTIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTAUTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPayeeCodeAUTOutput" nillable="true" type="q40:PayeeCodeAUTOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTAUTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PYTAUTOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTRMVI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPayeeCodeRMVInput" nillable="true" type="q41:PayeeCodeRMVInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTRMVIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PYTRMVIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTRMVO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPayeeCodeRMVOutput" nillable="true" type="q42:PayeeCodeRMVOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PYTRMVOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PYTRMVOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRTENQI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPartialWithdrawalEnqInput" nillable="true" type="q43:PartialWithdrawalEnqInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRTENQIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PRTENQIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRTENQO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPartialWithdrawalEnqOutput" nillable="true" type="q44:PartialWithdrawalEnqOutPut" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRTENQOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PRTENQOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRTCRTI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPartialWithdrawalCRTInput" nillable="true" type="q45:PartialWithdrawalCRTInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRTCRTIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PRTCRTIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRTCRTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPartialWithdrawalCRTOutput" nillable="true" type="q46:PartialWithdrawalCRTOutPut" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRTCRTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PRTCRTOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVFCII">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objSurrenderREVFCIInput" nillable="true" type="q47:SurrenderREVFCIInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVFCIIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="REVFCIIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVFCIO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objSurrenderREVFCIOutput" nillable="true" type="q48:SurrenderREVFCIOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVFCIOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="REVFCIOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVBILI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPTDBTDREVBILIInput" nillable="true" type="q49:PTDBTDREVBILIInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVBILIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="REVBILIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVBILO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objPTDBTDREVBILIOutput" nillable="true" type="q50:PTDBTDREVBILIOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="REVBILOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="REVBILOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BCHQUOI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementBFInput" nillable="true" type="q51:ReinstatementBFInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BCHQUOIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BCHQUOIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BCHQUOO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementBFOutput" nillable="true" type="q52:ReinstatementBFOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BCHQUOOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BCHQUOOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LPSREII">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementLPSREIInput" nillable="true" type="q53:ReinstatementLPSREIInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LPSREIIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LPSREIIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LPSREIO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementLPSREIOOutput" nillable="true" type="q54:ReinstatementLPSREIOOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LPSREIOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LPSREIOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PUPREII">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementPUPREIInput" nillable="true" type="q55:ReinstatementPUPREIInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PUPREIIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PUPREIIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PUPREIO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementPUPREIOOutput" nillable="true" type="q56:ReinstatementPUPREIOOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PUPREIOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PUPREIOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACVREII">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementACVREIInput" nillable="true" type="q57:ReinstatementACVREIInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACVREIIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ACVREIIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACVREIO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementACVREIOOutput" nillable="true" type="q58:ReinstatementACVREIOOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACVREIOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ACVREIOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PHRISSI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementPHRISSIInput" nillable="true" type="q59:ReinstatementPHRISSIInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PHRISSIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PHRISSIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PHRISSO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementPHRISSOOutput" nillable="true" type="q60:ReinstatementPHRISSOOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PHRISSOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PHRISSOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PHRCRTI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementPHRCRTIInput" nillable="true" type="q61:ReinstatementPHRCRTIInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PHRCRTIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PHRCRTIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PHRCRTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementPHRCRTOOutput" nillable="true" type="q62:ReinstatementPHRCRTOOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PHRCRTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PHRCRTOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSCREII">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementDSCREIIInput" nillable="true" type="q63:ReinstatementDSCREIIInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSCREIIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSCREIIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSCREIO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementDSCREIOOutput" nillable="true" type="q64:ReinstatementDSCREIOOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSCREIOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSCREIOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LPSRQOI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementDSCREIIInput" nillable="true" type="q65:ReinstatementLPSRQOIInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LPSRQOIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LPSRQOIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LPSRQOO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementDSCREIOOutput" nillable="true" type="q66:ReinstatementLPSRQOOOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LPSRQOOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LPSRQOOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZCEENQI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementZCEENQIInput" nillable="true" type="q67:ReinstatementZCEENQIInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZCEENQIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZCEENQIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZCEENQO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementZCEENQOOutput" nillable="true" type="q68:ReinstatementZCEENQOOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZCEENQOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ZCEENQOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LONENQI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementLONENQIInput" nillable="true" type="q69:ReinstatementLONENQIInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LONENQIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LONENQIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LONENQO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objReinstatementLONENQOOutput" nillable="true" type="q70:ReinstatementLONENQOOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LONENQOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LONENQOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENQPREMATI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objMaturityPREMATInput" nillable="true" type="q71:MaturityPREMATInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENQPREMATIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENQPREMATIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENQPREMATO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objMaturityPREMATOutput" nillable="true" type="q72:MaturityPREMATOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENQPREMATOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENQPREMATOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENQPREVSTI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objMaturityENQPREVSTInput" nillable="true" type="q73:MaturityENQPREVSTInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENQPREVSTIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENQPREVSTIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENQPREVSTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/AS400EntityLayer" minOccurs="0" name="objMaturityENQPREVSTOutput" nillable="true" type="q74:MaturityENQPREVSTOutput" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENQPREVSTOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENQPREVSTOResult" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strmsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:int" />
        <xs:element minOccurs="0" name="dsBORespMsg" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>