UWSaralServices/Service References/LAMandate/Service31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MasterMandate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ERRORCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALUES" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterMandate" nillable="true" type="tns:MasterMandate" />
  <xs:complexType name="MasterMandateCreate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ERRORCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANDREF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYRNUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALUES" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterMandateCreate" nillable="true" type="tns:MasterMandateCreate" />
  <xs:complexType name="MasterMandateEnquiry">
    <xs:sequence>
      <xs:element minOccurs="0" name="BANKACCDSC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BANKACCKEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BANKKEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BKCARDNUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURRCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DETLSUMM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EFFDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERRORCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FACTHOUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IFSC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANDAMT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANDAMTTYP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANDREF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANDSTAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MICR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATDETS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIMESUSE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URNUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALUES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZDDDAY" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterMandateEnquiry" nillable="true" type="tns:MasterMandateEnquiry" />
  <xs:complexType name="MasterMandateUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ERRORCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANDAMTTYP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANDREF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYRNUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALUES" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterMandateUpdate" nillable="true" type="tns:MasterMandateUpdate" />
</xs:schema>