UWSaralServices/Service References/LAMandate/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.WS.MandateService/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.WS.MandateService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.WS.MandateService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_DDMAPR_InputMessage">
    <wsdl:part name="parameters" element="tns:DDMAPR" />
  </wsdl:message>
  <wsdl:message name="IService_DDMAPR_OutputMessage">
    <wsdl:part name="parameters" element="tns:DDMAPRResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DDMCRT_InputMessage">
    <wsdl:part name="parameters" element="tns:DDMCRT" />
  </wsdl:message>
  <wsdl:message name="IService_DDMCRT_OutputMessage">
    <wsdl:part name="parameters" element="tns:DDMCRTResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DDMENQ_InputMessage">
    <wsdl:part name="parameters" element="tns:DDMENQ" />
  </wsdl:message>
  <wsdl:message name="IService_DDMENQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:DDMENQResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DDMRJC_InputMessage">
    <wsdl:part name="parameters" element="tns:DDMRJC" />
  </wsdl:message>
  <wsdl:message name="IService_DDMRJC_OutputMessage">
    <wsdl:part name="parameters" element="tns:DDMRJCResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DDMUPD_InputMessage">
    <wsdl:part name="parameters" element="tns:DDMUPD" />
  </wsdl:message>
  <wsdl:message name="IService_DDMUPD_OutputMessage">
    <wsdl:part name="parameters" element="tns:DDMUPDResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="DDMAPR">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DDMAPR" message="tns:IService_DDMAPR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DDMAPRResponse" message="tns:IService_DDMAPR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DDMCRT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DDMCRT" message="tns:IService_DDMCRT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DDMCRTResponse" message="tns:IService_DDMCRT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DDMENQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DDMENQ" message="tns:IService_DDMENQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DDMENQResponse" message="tns:IService_DDMENQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DDMRJC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DDMRJC" message="tns:IService_DDMRJC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DDMRJCResponse" message="tns:IService_DDMRJC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DDMUPD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DDMUPD" message="tns:IService_DDMUPD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DDMUPDResponse" message="tns:IService_DDMUPD_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DDMAPR">
      <soap:operation soapAction="http://tempuri.org/IService/DDMAPR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DDMCRT">
      <soap:operation soapAction="http://tempuri.org/IService/DDMCRT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DDMENQ">
      <soap:operation soapAction="http://tempuri.org/IService/DDMENQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DDMRJC">
      <soap:operation soapAction="http://tempuri.org/IService/DDMRJC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DDMUPD">
      <soap:operation soapAction="http://tempuri.org/IService/DDMUPD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://mumhoiauxlf01.fgi.ad:10004/FG.LF.WS.MandateService/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>