UWSaralServices/Service References/LAFSARCalculationService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_UnderwritingEnquiry/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_UnderwritingEnquiry/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_UnderwritingEnquiry/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_UWECON_InputMessage">
    <wsdl:part name="parameters" element="tns:UWECON" />
  </wsdl:message>
  <wsdl:message name="IService_UWECON_OutputMessage">
    <wsdl:part name="parameters" element="tns:UWECONResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UWEFSA_InputMessage">
    <wsdl:part name="parameters" element="tns:UWEFSA" />
  </wsdl:message>
  <wsdl:message name="IService_UWEFSA_OutputMessage">
    <wsdl:part name="parameters" element="tns:UWEFSAResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UWERSA_InputMessage">
    <wsdl:part name="parameters" element="tns:UWERSA" />
  </wsdl:message>
  <wsdl:message name="IService_UWERSA_OutputMessage">
    <wsdl:part name="parameters" element="tns:UWERSAResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UWESSA_InputMessage">
    <wsdl:part name="parameters" element="tns:UWESSA" />
  </wsdl:message>
  <wsdl:message name="IService_UWESSA_OutputMessage">
    <wsdl:part name="parameters" element="tns:UWESSAResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UWETSA_InputMessage">
    <wsdl:part name="parameters" element="tns:UWETSA" />
  </wsdl:message>
  <wsdl:message name="IService_UWETSA_OutputMessage">
    <wsdl:part name="parameters" element="tns:UWETSAResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="UWECON">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UWECON" message="tns:IService_UWECON_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UWECONResponse" message="tns:IService_UWECON_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UWEFSA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UWEFSA" message="tns:IService_UWEFSA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UWEFSAResponse" message="tns:IService_UWEFSA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UWERSA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UWERSA" message="tns:IService_UWERSA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UWERSAResponse" message="tns:IService_UWERSA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UWESSA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UWESSA" message="tns:IService_UWESSA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UWESSAResponse" message="tns:IService_UWESSA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UWETSA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UWETSA" message="tns:IService_UWETSA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UWETSAResponse" message="tns:IService_UWETSA_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UWECON">
      <soap:operation soapAction="http://tempuri.org/IService/UWECON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UWEFSA">
      <soap:operation soapAction="http://tempuri.org/IService/UWEFSA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UWERSA">
      <soap:operation soapAction="http://tempuri.org/IService/UWERSA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UWESSA">
      <soap:operation soapAction="http://tempuri.org/IService/UWESSA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UWETSA">
      <soap:operation soapAction="http://tempuri.org/IService/UWETSA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://mumhoibrnchlf02.fgi.ad/LifeAsiaServices/LA_UnderwritingEnquiry/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>