UWSaralServices/Service References/LAFSARCalculationService/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMasterUnderwriting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MasterUnderwriting" nillable="true" type="tns:MasterUnderwriting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMasterUnderwriting" nillable="true" type="tns:ArrayOfMasterUnderwriting" />
  <xs:complexType name="MasterUnderwriting">
    <xs:sequence>
      <xs:element minOccurs="0" name="CHDRNUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNTTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRTABLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ERRORCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SICURR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUMIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TSUMINS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VALUES" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterUnderwriting" nillable="true" type="tns:MasterUnderwriting" />
</xs:schema>