UWSaralServices/Service References/LAOfacService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS.OFACService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS.OFACService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOfacResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OfacResult" nillable="true" type="tns:OfacResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOfacResult" nillable="true" type="tns:ArrayOfOfacResult" />
  <xs:complexType name="OfacResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Program" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OfacResult" nillable="true" type="tns:OfacResult" />
</xs:schema>