UWSaralServices/Service References/LAOfacService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://auxfglife.futuregenerali.in:10004/FG.LF.WS.OFACService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS.OFACService" />
  <xs:element name="OFACService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchtype" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="percentage" type="xs:int" />
        <xs:element minOccurs="0" name="percentageCIP" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OFACServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS.OFACService" minOccurs="0" name="OFACServiceResult" nillable="true" type="q1:ArrayOfOfacResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>