UWSaralServices/Service References/LAMsarService/Service31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="test">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FSAR" type="xs:decimal" />
      <xs:element minOccurs="0" name="MSAR" type="xs:decimal" />
      <xs:element minOccurs="0" name="PPC" type="xs:decimal" />
      <xs:element minOccurs="0" name="TSAR" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="test" nillable="true" type="tns:test" />
</xs:schema>