UWSaralServices/Service References/LAAgentEnquiry/LF_ValidateAgentResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://INBLRBPMLFDEV01:19086/schema/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://INBLRBPMLFDEV01:19086/schema/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LF_ValidateAgentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="agentInfo" nillable="true" type="tns:LF_AgentDetails" />
      <xs:element minOccurs="0" maxOccurs="1" name="exception" nillable="true" type="tns:LF_ExceptionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LF_AgentDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="agentCode_AGNTSEL" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="agentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="channelDistribution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="agentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="agentContactNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LF_ExceptionDetail">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" default="false" name="errorFlag" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="errorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="errorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LF_ValidateAgentResponse" type="tns:LF_ValidateAgentResponse" />
</xs:schema>