UWSaralServices/Service References/LAAgentDetailsService/AgentValidationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax25="http://transferObjects.webservices.interfaces.symbiosys.c2lbiz.com/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://services.webservices.interfaces.symbiosys.c2lbiz.com" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://services.webservices.interfaces.symbiosys.c2lbiz.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax26="http://transferObjects.webservices.interfaces.symbiosys.c2lbiz.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.webservices.interfaces.symbiosys.c2lbiz.com">
      <xs:import namespace="http://transferObjects.webservices.interfaces.symbiosys.c2lbiz.com/xsd" />
      <xs:element name="getAgentValidationDetails">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="agentId" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAgentValidationDetailsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax26:AgentValidationTO" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://transferObjects.webservices.interfaces.symbiosys.c2lbiz.com/xsd">
      <xs:complexType name="AgentValidationTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="accreditationNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="addressLine1Lang1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="addressLine2Lang1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="addressLine3Lang1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="addressTypeCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ageProof" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="agentDO_agentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="agentDO_transactionStatusCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="agentDetailDO_agentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="agentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="agentLicenseDO_effectiveFromDt" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="agentLicenseDO_effectiveToDt" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="agentPaymentDO_effectiveFromDt" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="agentPaymentDO_effectiveToDt" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="agentPaymentDO_transactionStatusCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="agentStatusCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="agentStatusDt" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="applicationDt" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="applicationNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="applicationStatusCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="applicationStatusDt" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="atiLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="batchTrainerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="birthDt" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="blacklistFl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="boardName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="branchName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="capitalAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="channelCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="citizenshipCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cityCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="classificationCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="commissionFl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contactNum" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="contactPerson" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contactPersonDesignation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contactPersonEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="contactPersonPhone" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="contactTypeCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="corporateName1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="countryCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="courseHoursCompleted" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="designationCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="designationChangeDt" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="detailFive" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="detailFour" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="detailOne" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="detailSeven" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="detailSix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="detailThree" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="detailTwo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="educationLevelCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="employeeCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="employerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="examBody" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="examCenter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="examCourseCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="examCourseGrade" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="examCourseResult" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="examLanguage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="fathersName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="firstName1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="genderCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="identityNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="identityProof" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="identityTypeCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="incorporationDate" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="industryCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="intermedCatCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="intermedSubCatCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="intfStatusCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="introducedByAgentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="joiningDt" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="laClientNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="lastName1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="licenseApplied" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="licenseNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="licenseType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mappedIrdaLocation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="maritalStatusCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="middleName1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="minPaymentAmt" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="monitoringOfficeId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="monitoringStaffId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="natureOfDuty" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nrmId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="occupationCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parentAgencyId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parentAgentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parentBranchId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="partyId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="partyTypeCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="passingYear" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="payToCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="payToEntityId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="payeeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="paymentCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="paymentModeCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pinCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="previousEntityStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="qualificationCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="questionReplyFive" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="questionReplyFour" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="questionReplyOne" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="questionReplySeven" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="questionReplySix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="questionReplyThree" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="questionReplyTwo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="receiptAmount" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="receiptDate" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="receiptNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="receiptStatusCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="recruitmentCategoryCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="referenceAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="referenceContact" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="referenceName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="referenceOccupation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rejectionReason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="religion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="residenceProof" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rollNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ruralUrbanFl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="selfReportingFl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sourceCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="specialIndicator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="stateCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="taxEntityType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="taxFl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="titleCd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="trainedByAgentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="trainingInstitute" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="trainingMode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="trainingType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="transactionReceivedDt" nillable="true" type="xs:date" />
          <xs:element minOccurs="0" name="ulipStatus" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getAgentValidationDetailsRequest">
    <wsdl:part name="parameters" element="ns:getAgentValidationDetails" />
  </wsdl:message>
  <wsdl:message name="getAgentValidationDetailsResponse">
    <wsdl:part name="parameters" element="ns:getAgentValidationDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="AgentValidationServicePortType">
    <wsdl:operation name="getAgentValidationDetails">
      <wsdl:input wsaw:Action="urn:getAgentValidationDetails" message="ns:getAgentValidationDetailsRequest" />
      <wsdl:output wsaw:Action="urn:getAgentValidationDetailsResponse" message="ns:getAgentValidationDetailsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AgentValidationServiceSoap11Binding" type="ns:AgentValidationServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAgentValidationDetails">
      <soap:operation soapAction="urn:getAgentValidationDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AgentValidationServiceSoap12Binding" type="ns:AgentValidationServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAgentValidationDetails">
      <soap12:operation soapAction="urn:getAgentValidationDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AgentValidationServiceHttpBinding" type="ns:AgentValidationServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="getAgentValidationDetails">
      <http:operation location="AgentValidationService/getAgentValidationDetails" />
      <wsdl:input>
        <mime:content part="getAgentValidationDetails" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getAgentValidationDetails" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgentValidationService">
    <wsdl:port name="AgentValidationServiceHttpSoap11Endpoint" binding="ns:AgentValidationServiceSoap11Binding">
      <soap:address location="http://10.1.41.48:9083/interfacewebservices/services/AgentValidationService.AgentValidationServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="AgentValidationServiceHttpSoap12Endpoint" binding="ns:AgentValidationServiceSoap12Binding">
      <soap12:address location="http://10.1.41.48:9083/interfacewebservices/services/AgentValidationService.AgentValidationServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="AgentValidationServiceHttpEndpoint" binding="ns:AgentValidationServiceHttpBinding">
      <http:address location="http://10.1.41.48:9083/interfacewebservices/services/AgentValidationService.AgentValidationServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>