UWSaralServices/Service References/LAStpvalidationDetailsService/LifeRuleEngine52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FutureGenerali" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FutureGenerali" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBusinessRuleMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessRuleMessage" nillable="true" type="tns:BusinessRuleMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessRuleMessage" nillable="true" type="tns:ArrayOfBusinessRuleMessage" />
  <xs:complexType name="BusinessRuleMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RejectReasonCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SucessMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessRuleMessage" nillable="true" type="tns:BusinessRuleMessage" />
</xs:schema>