UWSaralServices/Service References/LAStpvalidationDetailsService/LifeRuleEngine1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LifeRuleEngine" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.1.41.196:8659/LifeRuleEngine.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.1.41.196:8659/LifeRuleEngine.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.1.41.196:8659/LifeRuleEngine.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://10.1.41.196:8659/LifeRuleEngine.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://10.1.41.196:8659/LifeRuleEngine.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/FutureGenerali" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILifeRuleEngine_Validate_InputMessage">
    <wsdl:part name="parameters" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="ILifeRuleEngine_Validate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="ILifeRuleEngine_ValidateDEQC_DOCQC_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateDEQC_DOCQC" />
  </wsdl:message>
  <wsdl:message name="ILifeRuleEngine_ValidateDEQC_DOCQC_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateDEQC_DOCQCResponse" />
  </wsdl:message>
  <wsdl:message name="ILifeRuleEngine_ValidateSTP_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSTP" />
  </wsdl:message>
  <wsdl:message name="ILifeRuleEngine_ValidateSTP_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSTPResponse" />
  </wsdl:message>
  <wsdl:message name="ILifeRuleEngine_ValidateMRF_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateMRF" />
  </wsdl:message>
  <wsdl:message name="ILifeRuleEngine_ValidateMRF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateMRFResponse" />
  </wsdl:message>
  <wsdl:message name="ILifeRuleEngine_ValidateMUW_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateMUW" />
  </wsdl:message>
  <wsdl:message name="ILifeRuleEngine_ValidateMUW_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateMUWResponse" />
  </wsdl:message>
  <wsdl:message name="ILifeRuleEngine_GetFTRQuestions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFTRQuestions" />
  </wsdl:message>
  <wsdl:message name="ILifeRuleEngine_GetFTRQuestions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFTRQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="ILifeRuleEngine_GetDemandDraftCharges_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDemandDraftCharges" />
  </wsdl:message>
  <wsdl:message name="ILifeRuleEngine_GetDemandDraftCharges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDemandDraftChargesResponse" />
  </wsdl:message>
  <wsdl:portType name="ILifeRuleEngine">
    <wsdl:operation name="Validate">
      <wsdl:input wsaw:Action="http://tempuri.org/ILifeRuleEngine/Validate" message="tns:ILifeRuleEngine_Validate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILifeRuleEngine/ValidateResponse" message="tns:ILifeRuleEngine_Validate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateDEQC_DOCQC">
      <wsdl:input wsaw:Action="http://tempuri.org/ILifeRuleEngine/ValidateDEQC_DOCQC" message="tns:ILifeRuleEngine_ValidateDEQC_DOCQC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILifeRuleEngine/ValidateDEQC_DOCQCResponse" message="tns:ILifeRuleEngine_ValidateDEQC_DOCQC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateSTP">
      <wsdl:input wsaw:Action="http://tempuri.org/ILifeRuleEngine/ValidateSTP" message="tns:ILifeRuleEngine_ValidateSTP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILifeRuleEngine/ValidateSTPResponse" message="tns:ILifeRuleEngine_ValidateSTP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateMRF">
      <wsdl:input wsaw:Action="http://tempuri.org/ILifeRuleEngine/ValidateMRF" message="tns:ILifeRuleEngine_ValidateMRF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILifeRuleEngine/ValidateMRFResponse" message="tns:ILifeRuleEngine_ValidateMRF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateMUW">
      <wsdl:input wsaw:Action="http://tempuri.org/ILifeRuleEngine/ValidateMUW" message="tns:ILifeRuleEngine_ValidateMUW_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILifeRuleEngine/ValidateMUWResponse" message="tns:ILifeRuleEngine_ValidateMUW_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFTRQuestions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILifeRuleEngine/GetFTRQuestions" message="tns:ILifeRuleEngine_GetFTRQuestions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILifeRuleEngine/GetFTRQuestionsResponse" message="tns:ILifeRuleEngine_GetFTRQuestions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDemandDraftCharges">
      <wsdl:input wsaw:Action="http://tempuri.org/ILifeRuleEngine/GetDemandDraftCharges" message="tns:ILifeRuleEngine_GetDemandDraftCharges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILifeRuleEngine/GetDemandDraftChargesResponse" message="tns:ILifeRuleEngine_GetDemandDraftCharges_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILifeRuleEngine" type="tns:ILifeRuleEngine">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://tempuri.org/ILifeRuleEngine/Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateDEQC_DOCQC">
      <soap:operation soapAction="http://tempuri.org/ILifeRuleEngine/ValidateDEQC_DOCQC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSTP">
      <soap:operation soapAction="http://tempuri.org/ILifeRuleEngine/ValidateSTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateMRF">
      <soap:operation soapAction="http://tempuri.org/ILifeRuleEngine/ValidateMRF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateMUW">
      <soap:operation soapAction="http://tempuri.org/ILifeRuleEngine/ValidateMUW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFTRQuestions">
      <soap:operation soapAction="http://tempuri.org/ILifeRuleEngine/GetFTRQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDemandDraftCharges">
      <soap:operation soapAction="http://tempuri.org/ILifeRuleEngine/GetDemandDraftCharges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LifeRuleEngine">
    <wsdl:port name="BasicHttpBinding_ILifeRuleEngine" binding="tns:BasicHttpBinding_ILifeRuleEngine">
      <soap:address location="http://10.1.41.196:8659/LifeRuleEngine.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>