UWSaralTestProject/Service References/TPASTATUSCODE/Itpastatuscode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TPASTATUSCODE.BussLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TPASTATUSCODE.BussLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ObjectData">
    <xs:sequence>
      <xs:element minOccurs="0" name="strCreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strTpaRefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strTpaStatusCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectData" nillable="true" type="tns:ObjectData" />
  <xs:complexType name="Responce">
    <xs:sequence>
      <xs:element minOccurs="0" name="strErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strErrorStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Responce" nillable="true" type="tns:Responce" />
  <xs:complexType name="Integration">
    <xs:sequence>
      <xs:element minOccurs="0" name="strAppno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strChannelType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strCreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strFgiSubRefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strReqRaisedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strRequestFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strTpaRefNo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Integration" nillable="true" type="tns:Integration" />
</xs:schema>