UWSaralServices/Service References/LAPremiumCalService/LifePremiumCalculator1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.8.41.196:4013/LifePremiumCalculator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Life" />
  <xs:element name="CalculatePremium">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Life" minOccurs="0" name="enPolicyHolder" nillable="true" type="q1:LifeAssuredEntity" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Life" minOccurs="0" name="enProposer" nillable="true" type="q2:ProposerEntity" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Life" minOccurs="0" name="enProduct" nillable="true" type="q3:ProductEntity" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Life" minOccurs="0" name="enPolicy" nillable="true" type="q4:PolicyEntity" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Life" minOccurs="0" name="enSystem" nillable="true" type="q5:SystemEntity" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Life" minOccurs="0" name="enRider" nillable="true" type="q6:ArrayOfRiderEntity" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Life" minOccurs="0" name="enChildEntity" nillable="true" type="q7:ChildEntity" />
        <xs:element minOccurs="0" name="ReverseCalculation" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Life" minOccurs="0" name="PayOutDtl" nillable="true" type="q8:PayoutDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculatePremiumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Life" minOccurs="0" name="CalculatePremiumResult" nillable="true" type="q9:LifePremiumResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>